@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
body {
    background-color: #C5E285
}
p {
    color: #66ADA2
}
a {
    color: #4169E1
}
a:hover {
    color: #FFC0CB	
}
li {
    color: #000080
}
h1 {
    color: Maroon;
    text-shadow: 1px 1px 10px Navajo White;
    font-size: 3vw;
}


h2 {
    font-family: 'Josefin Slab', serif;
}
	
