@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
    background-color: pink;
}
p {
    color: #66ADA2;
}
a {
    color: #4169E1;
}
a:hover {
    color: #FFC0CB;	
}
li {
    color: #000080;
}
h1 {
    color: Maroon;
    text-shadow: 1px 1px 10px Navajo White;
    font-size: 3vw;
}


h2 {
   font-family: 'Sacramento', cursive;
}

div {
    background-color: #ADD8E6; 
}
.tak1 {
    background-color: #ADD8E6;
}
.tak2 {
    background-color: #E0FFFF;
}
.tak3 {
    background-color: #FFE4B5;
}
h3 {
   font-family: 'Polya', cursive;
}
p {
   font-family: 'Comic Sans MS', cursive;
}
