.side {
 background-color: pink;
 width: 100%;
 height: 900px
 
}

.kk1 {
 background-color: #FFE4E1;
 width: 35%;
 height: 450px;
 text-align: center;
 float: left;
}

.kk2 {
 width: 30%;
 float: left;
 height: 450px;
 background-color: #E9967A;
 text-align: center;
}

.kk3 {
 width: 35%;
 float: left;
 height: 450px;
 background-color: #F08080;
 text-align: center;
}

.kk4 {
 background-color: #FFEFD5;
 width: 35%;
 height: 450px;
 text-align: center;
 float: left;
}
.kk5 {
 width: 30%;
 float: left;
 height: 450px;
 background-color: #F08080;
 text-align: center;
}

.kk6 {
 background-color: #FFEFD5;
 width: 35%;
 height: 450px;
 text-align: center;
 float: left;
}
